permute
permute-*.tar.*
.deps
*.o
*.P
*.d
*.Po
*~
*.bak
*-
*.swp
*.log
*.in
*.m4
!ax_*.m4
*.guess
*.status
*.scan
*.sub
*.trs
.dirstamp
configure
Makefile
ar-lib
compile
config.h
depcomp
install-sh
missing
stamp-h1
libtool
ltmain.sh
autom4te.cache
test-driver
test/str_to_uint
